:root {
  --fonte: 'Monteserrat', sans-serif;
  --preto: #000000;
  --branco: #f5f5f5;
  --cinza: #e2e2e2;

}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  color: var(--preto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
